
@{
    ViewBag.Title = "Pdf_Viewer";
}

<h3 style="text-align:center;color:green">All Pdf Content</h3>

<h5 style="text-align:center;font-family:'Palatino Linotype';border:2px solid green;border-radius:15px;padding:26px">
    @ViewBag.Text
</h5>

