@model IEnumerable<string>
@{
    ViewBag.Title = "AllFiles";
}


<h1 style="color:darkorange;font-weight:bold;text-align:center">All Uploaded Files</h1>
@*<h3 style="text-align:center;color:red;border:2px solid red;border-radius:15px; padding:19px">@ViewBag.Empty</h3>*@

@using (Html.BeginForm())
{
    foreach (var item in Model)
    {
        <div id="frame">
            <a style="margin:0 0 0 40px" id="itm" href="~/Uploaded_Files/@item">@item</a>
           @Html.ActionLink($"Delete", "DeleteFile", "Home", new { item = item }, new { id = "filename", onclick = "return confirm('Are you sure you want to delete this File?');" })
            <br />
        </div>
    }
}


<style>
    #itm {
        font-size: large;
    }

    #frame {
        border: 0.5px solid blue;
        border-radius: 9px;
        padding: 22px;
        margin-top: 5px;
    }

    #filename {
        margin: -7px 0 0 0;
        float: left;
        text-decoration: none;
        border: 1px solid red;
        border-radius: 18px;
        padding: 6px;
        color: white;
        background-color: red;
        font-size: larger;
    }

        #filename:hover {
            border: 1px solid red;
            background-color: white;
            color: red;
        }
</style>



