<h2 style="text-align:center;color:darkorchid">@ViewBag.ObjName (Records Found - <span style="color:gold">@ViewBag.Count</span>) for <span style="color:crimson">@ViewBag.LocInfo</span></h2>

@foreach (var ci in ViewBag.GN_Found)
{
    if (ci.Contains("Date News: ") || ci.Contains("Department: ") || ci.Contains("Source Compliment: ") || ci.Contains("Received From: ") ||
        ci.Contains("Description Compliment: ") || ci.Contains("Respect: ") || ci.Contains("Passion: ") || ci.Contains("Teamwork: ") ||
        ci.Contains("Responsibility: ") || ci.Contains("Growth: ") || ci.Contains("Compliment: ") || ci.Contains("Spot Awards: ") ||
        ci.Contains("Awards Details: ") || ci.Contains("Name Awards: ") || ci.Contains("Awards Received: ") || ci.Contains("Awards Received: "))
    {
        <br />
        <p style="color:red;font-size:large;font-weight:bold">@ci</p>
    }
    else
    {
        <p style="color:black;font-size:larger">
            @ci
        </p>
    }
}


