<h2 style="text-align:center;color:darkorchid">@ViewBag.ObjName (Records Found - <span style="color:gold">@ViewBag.Count</span>) for <span style="color:crimson">@ViewBag.LocInfo</span></h2>

@foreach (var ci in ViewBag.GN_Found)
{
    if (ci.Contains("MOHLTC Follow Up: ") || ci.Contains("CIS Initialated") || ci.Contains("MOH Notified: ") || ci.Contains("POAS Notified: ") || ci.Contains("Police Notified: ") || ci.Contains("Quality Improvement Actions: ") ||
        ci.Contains("Risk Locked: ") || ci.Contains("Brief Description: ") || ci.Contains("Care Plan Updated: ") || ci.Contains("CIS Initiated: ") || ci.Contains("CI Form Number: ") || ci.Contains("CI Form Number: ") ||
        ci.Contains("Date: ") || ci.Contains("File Complete: ") || ci.Contains("Follow Up Amendments: "))
    {
        <br />
        <p style="color:red;font-size:large;font-weight:bold">@ci</p>
    }
    else
    {
        <p style="color:black;font-size:larger">
            @ci
        </p>
    }
}


