

<h2 style="text-align:center;color:darkorchid">@ViewBag.ObjName (Records Found - <span style="color:gold">@ViewBag.Count</span>) for <span style="color:crimson">@ViewBag.LocInfo</span></h2>

@foreach (var ci in ViewBag.GN_Found)
{
    if (ci.Contains("Date: ") || ci.Contains("Union: ") || ci.Contains("Category: ") || ci.Contains("Details: ") ||
        ci.Contains("Status: ") || ci.Contains("Accruals: ") || ci.Contains("Outcome: ") || ci.Contains("Lessons Learned: "))
    {
        <br />
        <p style="color:red;font-size:large;font-weight:bold">@ci</p>
    }
    else
    {
        <p style="color:black;font-size:larger">
            @ci
        </p>
    }
}





