
<h2 style="text-align:center;color:darkorchid">@ViewBag.ObjName (Records Found - <span style="color:gold">@ViewBag.Count</span>) for <span style="color:crimson">@ViewBag.LocInfo</span></h2>

@foreach (var ci in ViewBag.GN_Found)
{
    if (ci.Contains("Status: ") || ci.Contains("Is Complaint Resolved: ") || ci.Contains("Type of Complaint: ") || ci.Contains("Description Outcome: ") ||
        ci.Contains("Date Complain Received: ") || ci.Contains("Complain Filed By: "))
    {
        <br />
        <p style="color:red;font-size:large;font-weight:bold">@ci</p>
    }
    else
    {
        <p style="color:black;font-size:larger">
            @ci
        </p>
    }
}

