


<h2 style="text-align:center;color:darkorchid">@ViewBag.ObjName (Records Found - <span style="color:gold">@ViewBag.Count</span>) for <span style="color:crimson">@ViewBag.LocInfo</span></h2>

@foreach (var ci in ViewBag.GN_Found)
{
    if (ci.Contains("Status: ") || ci.Contains("Date Breach Occured: ") || ci.Contains("Date Breach Reported: ") || ci.Contains("Date Breach Reported By: ") ||
        ci.Contains("Type of Breach: ") || ci.Contains("Type of PHI Involved: ") || ci.Contains("Number of Individuals Affected: ") || ci.Contains("Risk Level: ") ||
        ci.Contains("Description Outcome: "))
    {
        <br />
        <p style="color:red;font-size:large;font-weight:bold">@ci</p>
    }
    else
    {
        <p style="color:black;font-size:larger">
            @ci
        </p>
    }
}
